<body>

    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="../Admin/adminlogin/images/signin-image.jpg" alt="sing up image"></figure>
                        
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">ADMIN SIGNUP</h2>
                        <form method="post" class="register-form" id="login-form" action="/admin/adminLogin">
                            {{#if adminLoginError}}
                            <p class="error" id="adminLoginError" style="color: red;">{{adminLoginError}}</p>
                            {{/if}}
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="email" name="email" id="your_name" placeholder=" UserName"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="Password"/>
                            </div>
                          
                            <div class="form-group form-button">
                                <input type="submit"  id="signin" class="form-submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>
  <style> .error{ color: red; }</style>

</body>