<body>

    <div class="registration-form">
        <form action="/admin/admin-addBanners" method="post" enctype="multipart/form-data">
            <h5>ADD BANNERS</h5>
            <br>
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control item" id="username" name="name" placeholder="Banner Name" required>
            </div>
             <div class="form-group">
                <label for="">Title</label>
                <input type="text" class="form-control item" id="username" name="title" placeholder="Banner title" required>
            </div>
            <div class="form-group">
                <label for="">Image</label>
                <input type="file" class="form-control item" name="image" required>
            </div>
           
            <div class="form-group text-center ">
                <button type="submit" class="btn btn-block  create-account">SAVE</button>
            </div>
        </form>

    </div>

</body>