<body>

    <div class="registration-form">
        <form action="/admin/admin-addCoupon" method="post" >
            <h5>ADD Coupons</h5>
          
            <div class="form-group">
                <label for="">Coupon Name</label>
                <input type="text" class="form-control item" id="couponName" name="couponName" placeholder="Coupon Name" required>
            </div>
           
          <div class="form-group">
                <label for="">Coupon Id</label>
                <input type="text" class="form-control item" id="couponId" name="couponId" placeholder="Coupon-Id" required>
            </div>
            <div class="form-group">
                <label for="">Max Discount</label>
                <input type="number" class="form-control item" name="maxdiscount" placeholder="Coupon Max Amount" required>
            </div>
             <div class="form-group">
                <label for="">Min Purchase Amount</label>
                <input type="number" class="form-control item" name="minAmount" placeholder="Coupon Min Amount" required>
            </div>
              <div class="form-group">
                <label for="">Expiry Date</label>
                <input type="date" class="form-control item" name="expDate" placeholder="Coupon Expiry Date" required>
            </div>
             <div class="form-group">
                <label for="">Coupon Percentage </label>
                <input type="percentage" class="form-control item" name="couponPercentage" placeholder="Coupon Percentage" required> 
            </div>
            <div class="form-group text-center ">
                <button type="submit" class="btn btn-block  create-account">SAVE</button>
            </div>
        </form>

    </div>

</body>