<body>

    <div class="registration-form">
       <form action="/admin/editCategories/{{categoryList._id}}" method="post" >
           <h5>EDIT CATEGORIES</h5>
           <br>
              <div class="form-group">
                <label for="">Category</label>
                <input type="text" class="form-control item"  name="category" placeholder="Product Category" value="{{categoryList.category}}" >
              
            </div>
            <div class="form-group">
                <label for="">Sub Category</label>
                <input type="text" class="form-control item"  name="subCategory" placeholder="Product Category" value="{{categoryList.subCategory}}" >
            <div class="form-group text-center ">
                <button type="submit" class="btn btn-block  create-account">SAVE</button>
            </div>
        </form>
      
    </div>

</body>