<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<!--======================================================================ADMIN LOGIN PAGE =========================================================-->



    <link rel="stylesheet" href="../Admin/adminlogin/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../Admin/adminlogin/css/style.css">

<!--======================================================================ADMIN LOGIN PAGE =========================================================-->
  </head>
  <body>
    {{{body}}}
    <!--==================================================================ADMIN LOGIN PAGE SCRIPT LINKS=============================================-->
        <script src="javascripts/otpScript.js"></script>
      <script src="/javascripts/validation.js"></script>
    <script src="../Admin/adminlogin/vendor/jquery/jquery.min.js"></script>
    <script src="../Admin/adminloginjs/main.js"></script>
      <script src="/javascripts/adminScript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js" integrity="sha512-tQYZBKe34uzoeOjY9jr3MX7R/mo7n25vnqbnrkskGr4D6YOoPYSpyafUAzQVjV6xAozAqUFIEFsCO4z8mnVBXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
  

</html>
