<style>
  /* CSS */
  .button-36 {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    margin-top: 2em;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 3rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-36:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }

  @media (min-width: 768px) {
    .button-36 {
      padding: 0 2.6rem;
    }
  }
   .bn3 {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
}

.bn3:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
</style>
<div class="main">
  <!-- Sing in  Form -->
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure><img src="../Admin/adminlogin/images/ecommerce-login.png" alt="sing up image"></figure>
          <a href="/userSignup" class="signup-image-link bn3">Create an account</a>

        </div>

        <div class="signin-form">
          <h2 class="form-title">USER OTP </h2>
          <form action="/confirmotp" method="post">
            <div class="form-group">
              <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="number" name="phone" id="otp" placeholder="Type Your Six Digits OTP" onkeyup='validateOtpp()'>
              <span id="otp-error" style="color: red;"></span>
            </div>
            <div class="button-box btn-hover  ">
              <button type="submit" id="confirmOtp" onclick="return validateOForm()" class="button-36">Confirm OTP</button>
              <div id="submit-e" style="color: red;"></div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>

</div>

<script>
var otpError = document.getElementById("otp-error");
var submite = document.getElementById("submit-e");
function validateOtpp(){
    var otp = document.getElementById("otp").value;

    if(otp.length ==0){
        otpError.innerHTML ='OTP required';
        return false;
    }
    if(otp.length<6 || otp.length>6){
        otpError.innerHTML ='Only 6 digits';
        return false;
    }
   
    otpError.innerHTML = '' ;
    return true ;
  
}

function validateOForm(){
    if(!validateOtpp()){
    
        submite.innerHTML = 'Please fill the fields to submit';
        setTimeout(function(){submite.style.display = 'none';} , 4000)
      
        return false;
    }
}
</script>